/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***/
/* Questions
* How do I manage the width of .hero-hd?
* How do you know which/how many classes you should be using?
* How should you order the CSS?
* How do you use "::about"?
*How do I get the purple line inbetween hero-hd and hero-bd
* How do I add a background image?
*/
html {
    font-size: 16px;
}

.masthead {
    padding: 24px 0;
}

.masthead-container {
    display: flex;
    justify-content: space-between;
}

.masthead-bd {
    display: flex;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 1152px;
}

.logo {
    width: 34px;
    margin-right: 34px;
}

.logo img {
    width: 100%;
}

.navigation ul {
    display: flex;
    list-style-type: none;
}

.navigation li {
    padding: 0 20px;
}

.navigation li a {
    display: block;
    line-height: 1.4;
    margin-bottom: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    text-decoration: none;
    color: #424242;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.navigation li a:hover {
    box-shadow: inset 0 -1px 0 0 #424242;
}

.btn {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    padding: 12px 24px;
    border: 1px solid #4a148c;
    color: #4a148c;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btn:hover {
    color: #ffffff;
    background-color: #4a148c;
}

.hero{
  background-image: url('conversation-ai-hero.png');
  background-size: cover;
}

.hero-content {
  padding: 114px 77px 0;
  box-sizing: border-box;
  width: 60%;
  min-width: 544px;
}

.hero-hd {
  margin: 0px 0px 36px 0px;
}

.hdg_1 {
  font-family: 'Roboto Mono', monospace;
  color: #6200ea;
  line-height: 64px;
  font-weight: 300;
  font-size: 2.85rem;
}

.hero-bd{
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  letter-spacing: .044em;
}
